form.form-login{
    max-width: 30%;
}

form.form-login button.btn-cadastro{
    background-color: #91B2F2;
    color: #FFFF;
    transition: 1s ease-out;
}

form.form-login button.btn-cadastro:hover{
    background-color: #0E1F40;
    color: #FFFF;
}