img.img-banner{
    width: 100%;
    min-height: 300px;
    max-height: 350px;
}

h3.titulo, .visualizacoes{
    color: #91B2F2;
}

div.box-info{
    background-color: #91B2F2;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.btn-editar i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #cf2626;
    transition: .3s ease-in;
}

a.btn-editar i:hover{
    color: #91B2F2;
}

button.btn-remover{
    background-color: #91B2F2;
    color: #FFFF;
    transition: 1s ease-out;
}

button.btn-remover:hover{
    background-color: #0E1F40;
    color: #FFFF;

}